[Unit]
Description=Jomify Admin Site
After=network.target jomify.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/jomify
ExecStart=/home/opc/.bun/bin/bun run admin/index.ts
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
